 /* curly brackets for personal use is projects {} */
 :root{
  --background-color1: white;
  --background-color2: aqua;
  --background-color3: #16213E;
  --background-color4: #0F3460;
  --background-color5:#533483;
  --background-color6:#E94560;
  --width1: 150px;
  --height1: 40px;
  --box-shadow: 0px -10px 15px rgb(164, 164, 164);
  --width2: 100px;
  --height2: 100px;
  --border-radius: 50%;
  --font-size: 70px;
  --margin: 100px;
} 
.allcoins{
  display: flex;
  justify-content: space-around;  
  width:auto;
  align-items: center ;
  flex-direction: column ;
  }
.mainbox1,.mainbox2,.mainbox3,.mainbox4,.mainbox5{
  margin: var(--margin);
  color: white;
}
.shadowbox1 ,  .shadowbox2 ,  .shadowbox3, .shadowbox4 , .shadowbox5{
  background-color: var(--background-color1);
  width: var(--width1);
  height: var(--height1);
  box-shadow: var(--box-shadow);
  z-index: 2;
  margin:-20px;
}
.coin1,.coin2,.coin3,.coin4,.coin5{
  width: var(--width2);
  height: var(--height2);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: var(--justify-content);
  font-size: var(--font-size);
  display:flex;
  justify-content: center;
}

.coin1{
  background-color: var(--background-color2);
}
.coin2{
  background-color: var(--background-color3);
}
.coin3{
  background-color: var(--background-color4);
}
.coin4{
  background-color: var(--background-color5);
}
.coin5{
  background-color: var(--background-color6);
}
@media screen and (max-width:600px){
  .allcoins{
 flex-direction:column;

  }
  
}